<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Feed">
      <ion-icon aria-hidden="true" name="document"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Profile">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Create">
      <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Search">
      <ion-icon aria-hidden="true" name="Search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
